site_name: STAC Generator Docs
repo_url: https://github.com/cedadev/stac-generator

theme:
  name: material
  favicon: images/favicon.ico
  features:
    - content.code.copy

plugins:
- search
- gen-files:
    scripts:
        - docs/scripts/gen_plugins.py
- mkdocstrings:
    default_handler: python
    handlers:
        python:
            options:
                import:
                    - https://docs.python.org/3/objects.inv
                    - https://docs.pydantic.dev/latest/objects.inv
                extensions:
                  - griffe_fieldz
