name: Formatting

on:
  - push
  - pull_request
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Python Blacken
        uses: psf/black@stable
        with:
          options: "--check --diff"
          version: "25.11.0"
      - name: python-isort
        uses: isort/isort-action@v1.1.1
      - name: Flake8 with annotations
        uses: TrueBrain/actions-flake8@v2.4
        with:
          path: stac_generator
